#include <windows.h>
#include "resource.h"

IDD_DIALOG1 DIALOGEX 100, 100, 381, 204
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Tupper's Formula"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        K_EDITBOX,25,97,334,92,ES_MULTILINE | ES_NUMBER | WS_VSCROLL
    PUSHBUTTON      "Draw k",DRAWGRAPH,25,67,32,13
	PUSHBUTTON      "Get k",GETK,62,67,32,13
    LTEXT           "Current value for k:",IDC_STATIC,26,84,64,8
	PUSHBUTTON      "Clear",CLEAR,289,67,32,13
	AUTORADIOBUTTON "Pencil",PENCIL,327,67,32,13,BS_PUSHLIKE
    AUTORADIOBUTTON "Eraser",ERASER,327,82,32,13,BS_PUSHLIKE
END
